/* Error: Inconsistent indentation, expected 4 spaces.
 *    ,
 * 33 |  // la degrade de l image 
 *    | ^
 *    '
 *   src\sass\modules\_bases.sass 33:1  @use
 *   src\sass\main.sass 4:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Inconsistent indentation, expected 4 spaces.\a    \2577 \a 33 \2502   // la degrade de l image \d\a    \2502  ^\a    \2575 \a   src\\sass\\modules\\_bases.sass 33:1  @use\a   src\\sass\\main.sass 4:1             root stylesheet";
}
