@use './_mixins' as *
body
    margin: 0
    padding: 0
    background-color: #0d0b09ea
    color: white
    overflow-x: hidden
    h2
        color: #D4AA60
        font-size: 45px
    .bg
        background-image: url('../assets/img/hero-bg.jpg')
        @include bg-size
        background-attachment: fixed
        background-repeat: no-repeat

        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: rgba(0, 0, 0, 0.313)
            z-index: 0
    .btn
        color: white
        border: 3px solid #CBA35C
        border-radius: 50px
        padding-left: 25px
        padding-right:25px
        padding-top:5px  
        padding-bottom:5px  
    .btn:hover
        color: white  !important
        background-color: #CBA35C !important
    .btn2
        color: white
        background-color: #CBA35C
        border-radius: 50px
        padding-left: 25px
        padding-right:25px
        padding-top:5px  
        padding-bottom:5px  
        border: none
    
    nav
        background-color: rgba(0, 0, 0, 0.5)
        .nav-link
            padding-left: 15px !important
            padding-right: 15px !important
        
        ul
            li
                a
                    color: white !important
                   
                    
        .container-fluid
           
            gap: 170px
        .navbar-brand
            font-size: 30px
            padding-right: 150px
        .nav-btn
            margin-left: 300px 
            
            
        
        
    header
        height: 650px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: start  
        position: relative
        z-index: 1
        top: 7%
        h3
            font-weight: bold
            font-size: 45px

        .htxt
            padding-left: 40px
            padding-bottom: 10px
            line-height: 10px
            
        .btn-holder
            padding-left: 40px
            gap: 20px
            display: flex
        .jaune
            color: #CBA35C
    .bg-about
        background-image: url('../assets/img/about-bg.jpg')
        @include bg-about
        background-attachment: fixed
        background-repeat: no-repeat
    //     &::before
    //         content: ''
    //         position: absolute
    //         top: 0
    //         left: 0
    //         width: 100%
    //         height: 100%
    //         background-color: rgba(0, 0, 0, 0.5)
    //         z-index: 0
    #about
        padding-top: 70px

       
        .about-cont
            display: flex
            gap: 30px
            .about-left
                padding-left: 40px
                margin-right: 170px
                width: 700Px
                i
                   color: #CBA35C
                   border: 1px solid #CBA35C
                   border-radius: 50%   
                   padding: 5px
                   font-size: 13px
            .about-right
                img
                    width: 550px
                    height: 350px

    #whyus
        background-color: #0D0B09
        height: 600px
        padding-top: 50px
        .card-container
            padding-top: 40px
            display: flex
            justify-content: center
            align-items: start
            gap: 20px
            padding-bottom: 15px
            .card
                background-color: #1A1814
                color: white
                width: 320px !important
                .card-body
                    padding-right: 60px
                    padding-left: 30px
                    padding-top: 50px
                    padding-bottom: 50px
                    h5
                        color:  #CBA35C
                        font-weight: bold
                        font-size: 25px
                        padding-bottom: 15px

                    h6
                        color: white !important
                        font-size: 22px !important

    
    #reservation
        padding-top: 30px
        padding-bottom: 30px
        margin-right: -30px
        margin-left: 100px
        .container
           
            form
                display: flex
                flex-direction: column
                gap: 25px
                padding-top: 30px
                margin-left: -70px
                .row
                    display: flex
                    flex-direction: row
                    gap: 20px
                
                    input
                        width: 30%
                        background-color: rgba(0,0 ,0,0)
                        height: 55px
                        border: solid 1 px white
                        color: white
                textarea
                    background-color: rgba(0,0 ,0,0)
                    margin-left: -10px
                    width: 95%
                    padding-right: 10px
                    margin-top: 15px
                .btn2
                    margin-top: 5px
                    width: 150px
                    text-align: center
                    justify-content: center
                    left: 40%
                    position: relative
                    padding-top: 8px
                    padding-bottom: 8px
                    padding-left: 30px
                    padding-right: 30px
    #gallery
        
        img
            width: 24%
        .foto1
            margin-right: -25px
            margin-left: 20px
        .foto2
            margin-right: -25px
            margin-left: 20px
    #chef
        padding-top: 150px
        .chef-img
            display: flex
            gap: 30px
            padding-bottom: 150px
            padding-top: 50px
            padding-left: 70px
            img 
                width: 30%

                    
                





        
        
    
      

